.editor-container {
  position: relative;
  width: 100%;
  height: calc(100% - 32px);
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  margin-left: -45px;
  margin-top: -20px;
  width: 90px;
  // font-size: 20px;
  color: #fff;
}

.file-tag {
  margin-right: 0;
  padding: 6px 30px;
  color: rgb(125, 126, 132) !important;
  cursor: pointer;
  font-size: 14px;
  border-radius: 0;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-color: none;

  &--focus {
    color: #fff !important;
    border-left-color: rgb(29, 31, 36) !important;
    border-right-color: rgb(29, 31, 36) !important;
  }
  &--modify {
    color: rgb(219, 191, 146) !important;
  }
}
